In [23]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [4]:
model = tf.keras.models.load_model('path_to_model/model.h5')

In [5]:
classes = ['no disease', 'disease']   # target values

age:
age in years

sex:
(1 = male; 0 = female)

cp:
chest pain type (4 values)

trestbps:
resting blood pressure (in mm Hg on admission to the hospital)

chol:
serum cholestoral in mg/dl

fbs:
(fasting blood sugar &gt; 120 mg/dl) (1 = true; 0 = false)

restecg:
resting electrocardiographic results (values 0,1,2)

thalach:
maximum heart rate achieved

exang:
exercise induced angina (1 = yes; 0 = no)

oldpeak:
ST depression induced by exercise relative to rest

slope:
the slope of the peak exercise ST segment

ca:
number of major vessels (0-3) colored by flourosopy

thal:
0 = normal; 1 = fixed defect; 2 = reversable defect

In [14]:
column_list = ['Age', 'sex', 'cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']

In [27]:
X_new = [[70,	1,	0,	145,	174,	0,	1,	125,	1,	2.6,	0,	0, 1]]   # example
X_new = pd.DataFrame(X_new,columns=column_list)
X_new.head()

,Age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,70,1,0,145,174,0,1,125,1,2.6,0,0,1

In [30]:
predicted = model.predict(X_new)
class_idx = np.argmax(predicted,axis=1)
print('prediction:',classes[class_idx[0]])

1/1 [==============================] - 0s 25ms/step
prediction: no disease